<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-dark bg-dark">

</nav>
<br><br>
      <div class="container">
    <h1><em>Thank You !</em></h1><br>
    <h2><em>detail has been submitted </em></h2><br>
    <a class="navbar-brand" href="{% url 'index3' %}">
      <input type="button" name="" value="Click OK to go to Home"> </a>
  </div>

  </body>
</html>
